<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new passage</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="../js/passage.js"></script>

</head>
<body>

<form id="myForm" method="post">

    <label for="bilanDate">Date:</label>
    <input type="text" id="bilanDate" name="bilanDate" th:value="${bilanDate}">

    <label for="name">Nom:</label>
    <input type="text" id="name" name="name" required>

    <label for="amountPlus">Montant positif:</label>
    <input type="number" id="amountPlus" name="amountPlus" required>

    <label for="amountMinus">Montant négatif:</label>
    <input type="number" id="amountMinus" name="amountMinus" required>

    <button type="submit">Créer un nouveau passage</button>
</form>

<div id="success-message"></div>

</body>
</html>