<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ETAT DES SOLDES DE GESTION (E.S.G)</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/css/fieldInput.css">

    <script src="/js/dateInput.js"></script>
    <script src="/js/passageESG.js"></script>
</head>
<body>
<div>

    <div class="text-center mb-3">
        <h2>ETAT DES SOLDES DE GESTION (E.S.G)</h2>
        <button id="getEsgByDate" type="button" class="btn btn-primary">Afficher le tableau</button>
        <input type="text" id="dateBilan" list="datesList" placeholder="Sélectionner une date">
        <datalist id="datesList"></datalist>
    </div>

    <table class="styled-table">
        <thead>
            <tr>
                <th style="text-align: center;" colspan="4">TABLEAU DE FORMATION DES RESULTATS (T.F.R)</th>
            </tr>

            <tr>
                <th scope="col"></th>
                <th scope="col">RUBRIQUES</th>
                <th scope="col">EXERCICE</th>
                <th scope="col">EXERCICE PRECEDENT</th>
            </tr>
        </thead>
        <tbody id="getResultTFR">

        </tbody>
    </table>

    <table class="styled-table">
        <thead>
        <tr>
            <th style="text-align: center;" colspan="4">CAPACITE D'AUTOFINANCEMENT (C.A.F) - AUTOFINANCEMENT</th>
        </tr>

        <tr>
            <th scope="col"></th>
            <th scope="col">RUBRIQUES</th>
            <th scope="col">EXERCICE</th>
            <th scope="col">EXERCICE PRECEDENT</th>
        </tr>
        </thead>
        <tbody id="getResultCAF">

        </tbody>
    </table>
</div>
</body>
</html> -->


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{_fragments/layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>hiveApp - Accounting</title>
</head>
<body>
	<div layout:fragment="page-body">
		<div class="text-center mb-3">
			<h2>ETAT DES SOLDES DE GESTION (E.S.G)</h2>
			<div class="group">
				<div class="calendar-container">
					<input type="text" id="date-picker">
					<label class="input-label">choisir une année</label>
					<span class="bar"></span>
				</div>
				<button id="getDetailCPCByDate" type="button" class="btn btn-primary">Afficher le tableau</button>
				<button id="downloadPDF" type="button" class="btn btn-primary">Telecharger</button>
			</div>
		</div>
		
		<div id="table-container-1" class="ag-theme-quartz" style="height: 1200px;" ></div>
		<div id="table-container-2" class="ag-theme-quartz" style="height: 660px;" ></div>
		<th:block th:insert="_fragments/scripts/esg :: agGridScripts"></th:block>
	</div>

	<!-- <script th:src="@{/js/detailCPC.js}"></script> -->
</body>
</html>