<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Passage AJAX CRUD EXAMPLE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script src="/getrequest.js"></script>
</head>
<body>
<div class="container">
    <h2>Passage Management</h2>

    <button id="getPassagesByDate" type="button" class="btn btn-secondary">Afficher les passages</button>
    <input type="date"
           id="dateBilan"
           min="2000-01-01"
           max="2025-12-31"
           step="1">
    <table border="1px" class="table table-striped mt-3">
        <thead>
        <tr>
            <th scope="col">INTITULES</th>
            <th scope="col">MONTANT (+)</th>
            <th scope="col">MONTANT (-)</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="getResultDiv">
        <tr>
            <th>I. RESULTAT NET COMPTABLE</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr  th:each="passage : ${part1}">
            <td data-field-name='name' th:text="${passage.name}"></td>
            <td style='cursor:pointer;' data-field-name='amountPlus' class='editable-field' th:text="${passage.amountPlus}"></td>
            <td style='cursor:pointer;' data-field-name='amountMinus' class='editable-field' th:text="${passage.amountMinus}"></td>
            <td><i class="fa-regular fa-pen-to-square save-icon"></i></td>
        </tr>

        <tr>
            <th>II. REINTEGRATIONS FISCALES</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr  th:each="passage : ${part2}">
            <td data-field-name='name' th:text="${passage.name}"></td>
            <td style='cursor:pointer;' data-field-name='amountPlus' class='editable-field' th:text="${passage.amountPlus}"></td>
            <td style='cursor:pointer;' data-field-name='amountMinus' class='editable-field' th:text="${passage.amountMinus}"></td>
            <td><i class="fa-regular fa-pen-to-square save-icon"></i></td>
        </tr>

        <tr>
            <th>III. DEDUCTIONS FISCALES</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr  th:each="passage : ${part3}">
            <td data-field-name='name' th:text="${passage.name}"></td>
            <td style='cursor:pointer;' data-field-name='amountPlus' class='editable-field' th:text="${passage.amountPlus}"></td>
            <td style='cursor:pointer;' data-field-name='amountMinus' class='editable-field' th:text="${passage.amountMinus}"></td>
            <td><i class="fa-regular fa-pen-to-square save-icon"></i></td>
        </tr>

        <tr>
            <th>TOTAL</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr></tr>

        <tr>
            <th>IV. RESULTAT BRUT FISCAL</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr  th:each="passage : ${part4}">
            <td data-field-name='name' th:text="${passage.name}"></td>
            <td style='cursor:pointer;' data-field-name='amountPlus' class='editable-field' th:text="${passage.amountPlus}"></td>
            <td style='cursor:pointer;' data-field-name='amountMinus' class='editable-field' th:text="${passage.amountMinus}"></td>
            <td><i class="fa-regular fa-pen-to-square save-icon"></i></td>
        </tr>

        <tr>
            <th>V. REPORTS DEFICITAIRES IMPUTES (C) (1)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr  th:each="passage : ${part5}">
            <td data-field-name='name' th:text="${passage.name}"></td>
            <td style='cursor:pointer;' data-field-name='amountPlus' class='editable-field' th:text="${passage.amountPlus}"></td>
            <td style='cursor:pointer;' data-field-name='amountMinus' class='editable-field' th:text="${passage.amountMinus}"></td>
            <td><i class="fa-regular fa-pen-to-square save-icon"></i></td>
        </tr>

        <tr>
            <th>VI. RESULTAT NET FISCAL</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr  th:each="passage : ${part6}">
            <td data-field-name='name' th:text="${passage.name}"></td>
            <td style='cursor:pointer;' data-field-name='amountPlus' class='editable-field' th:text="${passage.amountPlus}"></td>
            <td style='cursor:pointer;' data-field-name='amountMinus' class='editable-field' th:text="${passage.amountMinus}"></td>
            <td><i class="fa-regular fa-pen-to-square save-icon"></i></td>
        </tr>

        <tr>
            <th>VII. CUMUL DES AMORTISSEMENTS FISCALEMENT DIFFERES</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr  th:each="passage : ${part7}">
            <td data-field-name='name' th:text="${passage.name}"></td>
            <td style='cursor:pointer;' data-field-name='amountPlus' class='editable-field' th:text="${passage.amountPlus}"></td>
            <td style='cursor:pointer;' data-field-name='amountMinus' class='editable-field' th:text="${passage.amountMinus}"></td>
            <td><i class="fa-regular fa-pen-to-square save-icon"></i></td>
        </tr>

        <tr>
            <th>VIII. CUMUL DES DEFICITS FISCAUX RESTANT A REPORTER</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr  th:each="passage : ${part8}">
            <td data-field-name='name' th:text="${passage.name}"></td>
            <td style='cursor:pointer;' data-field-name='amountPlus' class='editable-field' th:text="${passage.amountPlus}"></td>
            <td style='cursor:pointer;' data-field-name='amountMinus' class='editable-field' th:text="${passage.amountMinus}"></td>
            <td><i class="fa-regular fa-pen-to-square save-icon"></i></td>
        </tr>

        </tbody>
    </table>
</div>
</body>

<script>
  $(document).ready(function() {
        // Function to handle click on editable fields
        $('.editable-field').click(function(event) {
            event.stopPropagation();
            $(this).empty();
            var fieldValue = $(this).text().trim();
            var inputType = 'input';
            var inputHtml = '<' + inputType + ' class="edit-input form-control" value="' + fieldValue + '">';
            $(this).append(inputHtml);
            $('.edit-input').focus();
        });

        // Function to handle input field blur (when clicked outside)
        $(document).on('blur', '.edit-input', function(event) {
        var newValue = $(this).val().trim();
        var tdElement = $(this).closest('.editable-field');
        tdElement.text(newValue);
    });

        // Function to prevent removing input when clicking inside
        $(document).on('click', '.edit-input', function(event) {
        event.stopPropagation();
    });

        // Function to handle click outside the editable field
  $(document).click(function() {
        $('.edit-input').each(function() {
        var newValue = $(this).val().trim();
        var tdElement = $(this).closest('.editable-field');
        tdElement.text(newValue);
        });
  });
  });


</script>

</html>