<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TABLE 18</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/css/fieldInput.css">
    <script src="/js/dateInput.js"></script>
    <script src="/js/table18.js"></script>

</head>
<body>
<div>
    <div class="text-center mb-3">
        <h2>ETAT DES INTERETS DES EMPRUNTS CONTRACTES AUTRES DES ASSOCIES ET DES TIERS AUTRES QUE LES ORGANISMES DE BANQUE OU DE CREDIT</h2>
        <button id="getTable18ByDate" type="button" class="btn btn-primary">Afficher le tableau</button>
        <input type="text" id="dateBilan" list="datesList" placeholder="Sélectionner une date">
        <datalist id="datesList"></datalist>
    </div>
    <table class="styled-table">
        <thead>
        <tr>
            <th scope="col" rowspan="2">Nom, Prénom ou raison sociale</th>
            <th scope="col" rowspan="2">Adresse</th>
            <th scope="col" rowspan="2">N° C.I.N. ou Article I.S.</th>
            <th scope="col" rowspan="2">Montant du prêt</th>
            <th scope="col" rowspan="2">Date du prêt</th>
            <th scope="col" rowspan="2">Durée du prêt (en mois)</th>
            <th scope="col" rowspan="2">Taux d'intérêt</th>
            <th scope="col" rowspan="2">Charge financière globale</th>

            <th scope="col" colspan="2">Remboursement Exercices antérieurs</th>
            <th scope="col" colspan="2">Remboursement Exercices actuel</th>

            <th scope="col" rowspan="2">Observations</th>
        </tr>
        <tr>
            <th scope="col">(Principal)</th>
            <th scope="col">(Intérêt)</th>

            <th scope="col">(Principal)</th>
            <th scope="col">(Intérêt)</th>

        </tr>
        </thead>
        <tbody id="getResultDiv">

        </tbody>
    </table>
</div>
</body>
</html>


 -->

 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{_fragments/layouts/default}">
 <head>
	 <meta charset="UTF-8">
	 <title>hiveApp - Accounting</title>
 </head>
 <body>
	 <div layout:fragment="page-body">
		 <div class="text-center mb-3">
			<h2>
				ETAT DES INTERETS DES EMPRUNTS CONTRACTES
				<br>
				AUTRES DES ASSOCIES ET DES TIERS AUTRES
				<br>
				QUE LES ORGANISMES DE BANQUE OU DE CREDIT
			</h2>
			 <div class="group">
				 <div class="calendar-container">
					 <input type="text" id="date-picker">
					 <label class="input-label">choisir une année</label>
					 <span class="bar"></span>
				 </div>
				 <button id="getDetailCPCByDate" type="button" class="btn btn-primary">Afficher le tableau</button>
				 <button id="downloadPDF" type="button" class="btn btn-primary">Telecharger</button>
			 </div>
		 </div>
		 
		 <div id="table-container" class="ag-theme-quartz" style="height: 686px;" ></div>
		 <th:block th:insert="_fragments/scripts/table18 :: agGridScripts"></th:block>
	 </div>
 
	 <!-- <script th:src="@{/js/detailCPC.js}"></script> -->
 </body>
 </html>