<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TABLE 14</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/css/fieldInput.css">
    <script src="/js/dateInput.js"></script>
    <script src="/js/table14.js"></script>

</head>
<body>
<div>
    <div class="text-center mb-3">
        <h2>ETAT D'AFFECTATION DES RESULTATS INTERVENUE AU COURS DE L'EXERCICE</h2>
        <button id="getTable14ByDate" type="button" class="btn btn-primary">Afficher le tableau</button>
        <input type="text" id="dateBilan" list="datesList" placeholder="Sélectionner une date">
        <datalist id="datesList"></datalist>
    </div>
    <table class="styled-table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">MONTANT</th>
            <th scope="col"></th>
            <th scope="col">MONTANT</th>
        </tr>
        </thead>
        <tbody id="getResultDiv">

        </tbody>
    </table>
</div>
</body>
</html>



