<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
</head>

<body>

    <div class="topnav shadow-lg" th:fragment="default" style=" margin-top: 0px !important; background-color: #285185;">
        <div class="container-fluid">
            <nav class="navbar navbar-light navbar-expand topnav-menu">

                <div class="collapse navbar-collapse " id="topnav-menu-content">
                    <ul class="navbar-nav " id="side-menu">
                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{/home}" id="topnav-customer" role="button"
                                sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA','ROLE_COM', 'ROLE_INT')">
                                <i class="fe-home"></i> Accueil <div class=""></div>
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA','ROLE_COM')">
                            <a class="nav-link" th:href="@{/}" id="topnav-dash" role="button">
                                <i class="fe-grid"></i>Dashboard<div class=""></div>
                            </a>
                        </li>

                        <li class="nav-item dropdown"
                            sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA','ROLE_COM')">
                            <a class="nav-link dropdown-toggle arrow-none white" href="#" id="topnav-dashboard"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe-airplay mr-1"></i> Projet <div class=""></div>
                            </a>
                            <div class="dropdown-menu " aria-labelledby="topnav-dashboard">
                                <a th:href="@{/projets}" class="dropdown-item">Projet</a>
                                <a th:href="@{/tranches}" class="dropdown-item">Tranche</a>
                                <a th:href="@{/groupes}" class="dropdown-item">Groupement Habitable</a>
                                <a th:href="@{/immeubles}" class="dropdown-item">Immeuble</a>
                                <a th:href="@{/biens}" class="dropdown-item">Bien</a>

                            </div>
                        </li>


                        <li class="nav-item ">
                            <a class="nav-link" th:href=@{/clients} id="topnav-customer" role="button"
                                sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA','ROLE_COM')">
                                <i class="fe-user"></i> Clients <div class=""></div>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA','ROLE_COM')">
                                <i class="fe-airplay mr-1"></i> Opérations <div class=""></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-dashboard">

                                <a th:href="@{/pre/reservation}" class="dropdown-item">Réservation</a>
                                <a th:href="@{/reservation}" class="dropdown-item">Vente</a>
                                <a th:href="@{/contrats}" class="dropdown-item ">Contrat</a>
                                <a th:href="@{/desistement}" class="dropdown-item">Désistement</a>
                                <a sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA')" th:href="@{/contrat/list}"
                                    class="dropdown-item">ALL</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown"
                            sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_SA','ROLE_TER', 'ROLE_COM')">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe-credit-card mr-1"></i> Paiements <div class=""></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-dashboard">
                                <a th:href="@{/paiements}" class="dropdown-item"
                                    sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA','ROLE_COM')">Paiement</a>
                                <a th:href="@{/detail-paiement}" class="dropdown-item "
                                    sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA','ROLE_COM')">Détails</a>
                                <a th:href="@{/paiement/approve}" class="dropdown-item"
                                    sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA','ROLE_TER')">Valider Les
                                    paiements</a>
                                <a th:href="@{/paiement/approved}" class="dropdown-item"
                                    sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA','ROLE_TER')">Lister les
                                    paiements
                                    valider</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA','ROLE_COM')">
                                <i class="fe-file-plus mr-1"></i> Importation <div class=""></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-dashboard">
                                <a th:href="@{/import}" class="dropdown-item">Modele ALMorafiq</a>
                                <a th:href="@{/import2}" class="dropdown-item ">Modele 1</a>
                                <a th:href="@{/import3}" class="dropdown-item">Modele Almanzil</a>

                            </div>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" th:href=@{/users} id="topnav-customer" role="button"
                                sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA')">
                                <i class="fe-user"></i> Users <div class=""></div>
                            </a>
                        </li>

                    </ul> <!-- end navbar-->

                </div> <!-- end .collapsed-->
                <div class=" float-right mt-1">

                    <ul class="navbar-nav float-right">
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SA','ROLE_COM')"
                            class="d-none d-lg-block">
                            <form th:action="@{/search}" class="app-search">
                                <div class="app-search-box dropdown">
                                    <div class="input-group">
                                        <input type="search" name="search" class="form-control"
                                            placeholder="Recherche ..." id="top-search" th:value="${keyword}">
                                        <button class="btn input-group-text" type="submit">
                                            <i class="fe-search"></i>
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light"
                                data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                                aria-expanded="false">
                                <img th:src="@{/images/users/default.png}" alt="user-image" class="rounded-circle">
                                <span class="pro-user-name ml-1">
                                    <span style="color: white;" sec:authentication="name"></span>
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>

                                <!-- item -->
                                <a th:href="@{/password/edit}" class="dropdown-item notify-item">
                                    <i class="fe-link"></i>
                                    <span>Mot de passe</span>
                                </a>
                                <!-- item -->
                                <a th:href="@{/logout}" class="dropdown-item notify-item">
                                    <i class="fe-log-out"></i>
                                    <span>Déconnexion</span>
                                </a>

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div> <!-- end container-fluid -->
    </div>
</body>

</html>