<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <head th:replace="_fragments/head :: default"></head>

</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <div th:replace="_fragments/topbar :: default"></div>
    <!-- end Topbar -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="root-content">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div th:replace="_fragments/page-title :: default"></div><!-- end page title -->

                <!-- start page body -->
                <div layout:fragment="page-body"></div> <!-- end page body -->

            </div> <!-- container -->

        </div> <!-- content -->
		<!-- Footer Start -->
		<footer th:replace="_fragments/footer :: default"></footer>
		<!-- end Footer -->

		
    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<div th:replace="_fragments/scripts :: default"></div>

</body>
</html>